<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>大学排名</title>
    <script src="/static/jquery.min.js"></script>
    <script src="/static/jquery.pager.js"></script>
    <style>
        *{ margin:0; padding:0;}
        .rank{
            margin: 0 auto;
            width: 80%;
            display: block;
        }
        .rank .header{
            list-style-type: none;
        }
        .rank .header li{
            font-size: 16px;
            font-width: bold;
        }
        .rank ul{
            clear:both;
            list-style-type: none;
        }
        .rank ul li{
            float: left;
            display: block;
            width: 180px;
            border: 1px solid #ccc;
            padding: 5px;
            text-align: center;
            margin: 0;
            font-size: 14px;
        }
        .page{
            clear: both;
        }
        .page a{
            display: inline-block;
            font-size: 12px;
            padding: 5px;
        }
    </style>

</head>

<body>
   <div class="schools">
       <div class="search"></div>
       <div class="rank">
           <div class="tip">4月19日，高等教育评价专业机构软科正式发布2022中国大学排名。清华大学、北京大学、浙江大学连续8年蝉联全国三甲，实力强劲。上海交通大学、复旦大学位列全国前五。</div>
           <ul class="row header">
               <li>排名</li>
               <li>学校名称</li>
               <li>省市</li>
               <li>学校类型</li>
               <li>总得分</li>
               <li>专业</li>
               <li>年份</li>
           </ul>

       </div>
   </div>



</body>
</html>
<script>
    $(document).ready(function() {
        const pageIndex = 1;
        const pageSize = 20;
        let pages = 0;
        pageData(pageIndex,pageSize);
        function pageData(pageIndex,pageSize){
            $.ajax({
                type: "get",
                url: "http://localhost:8888/university/list?pageIndex=" + pageIndex + "&pageSize=" + pageSize,
                dataType: "json",
                success: function(data) {
                    console.log(data)
                    $(".rank .header").nextAll().remove()
                    divData = "";
                    data.data.records.forEach(function(e,i,arr){
                        divData += "<ul>";
                        divData += "<li>" + e.rank + "</li>"
                        divData += "<li>" + e.school + "</li>"
                        divData += "<li>" + e.area + "</li>"
                        divData += "<li>" + e.type + "</li>"
                        divData += "<li>" + e.score + "</li>"
                        divData += "<li>" + e.majar + "</li>"
                        divData += "<li>" + e.extr1 + "</li>"
                        divData += "</ul>";
                    });
                    pages = data.data.pages
                    let current = data.data.current
                    let total = data.data.total
                    let size = data.data.size

                    let first = 1
                    let end = 1
                    let last = 1;
                    let next = 1;
                    if(current == 1 || pages == 1){
                        first = 0
                        last = 0
                    }
                    if(current == pages){
                        end = 0
                        next= 0
                    }
                    if(current >= 5){

                    }

                    var divData;
                    divData += "<div class='page'>"
                    if(first == 1){
                        divData += "<a class='first' href=‘#’ >首页</a>"
                    }else{
                        divData += "<a style=\"pointer-events: none;cursor: default;color:gray;\" href=‘#’ class>首页</a>"
                    }
                    if(last == 1){
                        divData += "<a class='last' href=‘#’ >上一页</a>"
                    }else{
                        divData += "<a style=\"pointer-events: none;cursor: default;color:gray;\" href=‘#’ class>上一页</a>"
                    }
                    divData += "<a href=‘#’ style=\"pointer-events: none;cursor: default;color:gray;\">当前" + current + "页</a>"
                    if(next == 1){
                        divData += "<a class='next' href=‘#’  >下一页</a>"
                    }else{
                        divData += "<a style=\"pointer-events: none;cursor: default;color:gray;\" href=‘#’ class>下一页</a>"
                    }
                    if(end == 1){
                        divData += "<a class='end' href=‘#’ >末页</a>"
                    }else{
                        divData += "<a style=\"pointer-events: none;cursor: default;color:gray;\" href=‘#’ class>末页</a>"
                    }
                    divData += "</div>"
                    $(".rank .header").after(divData)

                    $(".end").on("click",function (event){
                        event.preventDefault();
                        pageData(pages,pageSize);
                    });

                    $(".next").on("click",function (event){
                        event.preventDefault();
                        pageData(pageIndex + 1,pageSize);
                    });
                    $(".first").on("click",function (event){
                        event.preventDefault();
                        pageData(1,pageSize);
                    });
                    $(".last").on("click",function (event){
                        event.preventDefault();
                        pageData(pageIndex - 1,pageSize);
                    });

                }
            });
        }
    });

</script>