<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>大学排名</title>
    <script src="/static/jquery.min.js"></script>
</head>

<body>


<script>
    $(document).ready(function() {
        $.ajax({
            url: "http://localhost:8888/university/list",
            type: "get",
            headers: {
                "Authorization":"Bearer eyJhbGciOiJIUzUxMiJ9.eyJ1c2VyX2lkIjoxLCJ1c2VyX2tleSI6ImZkZmJhNzNjLWU1MmQtNDcxMC1iZjNmLTc2NzVmYTk3YmYzZSIsInVzZXJuYW1lIjoiYWRtaW4ifQ.f90XdHcOMdFfp26F07G5G6NTaojMDCp5jGGs_d9X3gk6VhDwlLac7TaxKdE1AlAvq5atQrjjivqHw1oS7_8afw"
            },
            success: function (data) {
                console.log(data);
            }
        });

    });

</script>


</body>
</html>